@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@700&display=swap");

* {
  font-family: "Yanone Kaffeesatz", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  background-color: rgb(180, 206, 255);
  background-image: url("./images/pexels-martin-péchy-304664.jpg");
}

.suggestions {
  padding: 4px 0;
  border: 1px solid black;
  border-top: 10px;
  font-size: 1.5rem;
  width: 255px;
  height: 50px;
  margin: auto;
}

.div1 {
  position: relative;
  width: 258px;
  margin: 10px auto;
}

.input {
  width: 250px;
  height: fit-content;
  border-radius: 20px;
  font-size: 1.5rem;
}

.click {
  position: "absolute";
  top: "25px";
  left: "0.4px";
  z-index: 10;
  background-color: "white";
}
