.home-container {
  border: 5px dotted rgb(0, 110, 255);
  border-radius: 20px;
  padding: 30px;
  margin: 30px;
  background-color: rgb(180, 206, 255);
  min-height: 100%;
  height: 100%;
  height: auto;
  
}

.greeting {
  font-size: 5rem;
}

.desc {
  font-size: 2rem;
}

.to-app {
  display: "flex";
  justify-content: "center";
}

.search-button {
  width: 140px;
  height: 45px;
  font-size: 30px;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  color: rgb(124, 124, 124);
  font-weight: 700;
  position: relative;
  transition: all 0.5s;
  z-index: 1;
}

.search-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background-color: rgb(124, 124, 124);
  z-index: -1;
  transition: all 0.5s;
}

.search-button:hover::before {
  width: 100%;
}

.search-button:hover {
  color: black;
}

.search-button:active:before {
  background: #b9b9b9;
}

.credit{
  margin-top: 500px;
}