@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@700&display=swap");

* {
  font-family: "Yanone Kaffeesatz", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  background-color: rgb(180, 206, 255);background-image: url("./images/pexels-martin-péchy-304664.jpg");
}

.search-container {
  position: relative;
  align-items: center;
  display: list-item;
  margin-top: 1em;
}

.add-ingred {
  margin-top: 0.5em;
  position: relative;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  padding: .5em 2em;
  display: inline-block;
  border-radius: 4em;
  transition: all 0.2s;
  border: dotted rgb(0, 110, 255);
  font-family: inherit;
  font-weight: 100;
  color: black;
  background-color: rgb(180, 244, 255);
}

.add-ingred:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.add-ingred:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.add-ingred::after {
  content: "";
  display: inline-flex;
  height: 30px;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.add-ingred::after {
  background-color: rgb(199, 255, 255);
}

.add-ingred:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

/* .testing {
  display: "flex";
  justify-content: "center";
  align-items: "center";
  padding-left: "21px";
  width: "278px";
  margin: "auto";
  height: "24px";
} */

.search-btn {
  margin-top: 0.5em;
  text-transform: uppercase;
}

.results {
  font-size: 3.5rem;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: nowrap;
  display: list-item;
  box-sizing: content-box;
}
