.search-container {
  position: relative;
  align-items: center;
  display: list-item;
  margin-top: 1em;
}

.add-ingred {
  margin-top: 0.5em;
  position: relative;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  padding: .5em 2em;
  display: inline-block;
  border-radius: 4em;
  transition: all 0.2s;
  border: dotted rgb(0, 110, 255);
  font-family: inherit;
  font-weight: 100;
  color: black;
  background-color: rgb(180, 244, 255);
}

.add-ingred:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.add-ingred:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.add-ingred::after {
  content: "";
  display: inline-flex;
  height: 30px;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.add-ingred::after {
  background-color: rgb(199, 255, 255);
}

.add-ingred:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}


.search-btn {
  margin-top: 0.5em;
  width: 80px;
  height: 30px;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  display: inline-block;
  padding-top: 5px;
  border: 1px solid #4f4f4f;
  border-radius: 4px;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  font-size: 19px;
  color: black;
  z-index: 1;

}

.search-btn:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
 }
 .search-btn:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #00aeff;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
 }
 .search-btn:hover {
  color: #ffffff;
  border: 1px solid #00aeff;
 }

 .search-btn:hover:before {
  top: -35%;
  background-color: #00aeff;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
 }

 .search-btn:hover:after {
  top: -45%;
  background-color: #00aeff;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
 }

.results {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 20px;
}

.results > * {
  font-size: 1rem!important;
}

.results h3 {
  font-size: 2rem;
}
