@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@700&display=swap");

* {
  font-family: "Yanone Kaffeesatz", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  background-color: rgb(180, 206, 255);
}

.page-container {
  margin-left: 40px;
  margin-right: 40px;
}

.heading {
    margin-bottom: 15px;
}

.input {
}

.id {
  font-size: 25px;
}

.recipe-name {
  font-size: 2.5rem;
  margin-top: 30px;
}

.results {
  font-size: 2rem;
  margin-top: 30px;
}
